body{
    margin: 0;
    padding: 0;
    font-size: 24px;

}

.top-banner{
    font-family: 'Faustina', serif;
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
h1{
    font-size: 47px;
}
.half-width{
    width: 50%;
    margin-left: 7%;

}
img{
    width: 85%;
}
.my-btn{
    width: 150px;
    height: 50px;
    background-image: linear-gradient(blue,red);
    color: #fff;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 8px;
 
}
.dream-section{
    padding-right:10%;
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:100% 100%;
    font-family: 'Faustina', serif;
    font-family: 'Tangerine', cursive;
   
}
.experience-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    
    font-family: 'Playball', cursive;
    
}
.experience-aria{
    display: flex;
   
}
.experience-item{
    width: 50%;
    margin:0 3%;
    box-shadow: 10px 30px 40px gray;
    margin-bottom: 150px;
    padding:0 2%;
    
}
#ex-border1{
    border:8px solid;
    border-image: linear-gradient(blue,yellow,green,red);
    border-image-slice: 1;
}
#ex-border2{
    border:8px solid;
    border-image: linear-gradient(blue,yellow,green,red);
    border-image-slice: 1;
}
footer p{
   text-align: center;
}
